/*****************Navgiation bar****************/
#nav{
    height: 5vh;
  

}

#nav-list-container{
    display: flex;
    flex-direction: row;
  
    list-style: none;
}

.nav-lists{
   margin-left: 4vw;
   margin-top: 1vh;
   
}

.nav-lists a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-family: cursive;
}

.nav-list-title{
    margin-left: 5vw;
    margin-top: .5vh;
    
}

.nav-list-title a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: cursive;
    font-weight: bold;
}

/***************Search bar********************/


#search-bar-container{
    height: 4vh;
    width: 35vw;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
   
   
}

#search-input{
    width: 86%;
    height:100%;
    border-style: none;
    flex: 1;
    border-width: .2px .2px .2px;
  
    
}
#search-bar-container input:placeholder-shown{
    font-size: 20px;
     font-family: cursive;
}
#search-bar-container button{
    background-color: white;
    border: none;
}

#search-bar-container a img{
    height: 2.5vh;
    
}

/********************nav-lists-bttn************/
.nav-lists-bttn{
    margin-left: 1vw;
    margin-top: 1vh;
   

}

.nav-lists-bttn button{
    height: 4vh;
    width: 5vw;
    border:none;
    
    
}

#Login{
    font-size: 18px;
    background-color: rgb(101, 210, 101);
    color: aliceblue;
    font-family: cursive;
}

#SignUp{
    font-size: 18px;
    background-color: rgb(238, 83, 83);
    color: aliceblue;
    font-family: cursive;
}
