/*****************Navgiation bar****************/
#nav{
    height: 5vh;
  

}

#nav-list-container{
    display: flex;
    flex-direction: row;
  
    list-style: none;
}

.nav-lists{
   margin-left: 4vw;
   margin-top: 1vh;
   
}

.nav-lists a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-family: cursive;
}

.nav-list-title{
    margin-left: 5vw;
    margin-top: .5vh;
    
}

.nav-list-title a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: cursive;
    font-weight: bold;
}

/***************Search bar********************/


#search-bar-container{
    height: 4vh;
    width: 35vw;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
   
   
}

#search-input{
    width: 86%;
    height:100%;
    border-style: none;
    flex: 1;
    border-width: .2px .2px .2px;
    outline: none;
    font-size: 20px;
    
}
#search-bar-container input:placeholder-shown{
    font-size: 20px;
     font-family: cursive;
}
#search-bar-container button{
    background-color: white;
    border: none;
}

#search-bar-container button img{
    height: 2.5vh;
    
}

/********************nav-lists-bttn************/
.nav-lists-bttn{
    margin-left: 1vw;
    margin-top: 1vh;
   

}

.nav-lists-bttn button{
    height: 4vh;
    width: 5vw;
    border:none;
    
    
}

#Login{
    font-size: 18px;
    background-color: rgb(101, 210, 101);
    color: aliceblue;
    font-family: cursive;
}

#SignUp{
    font-size: 18px;
    background-color: rgb(238, 83, 83);
    color: aliceblue;
    font-family: cursive;
}

/*--------------------Article Section-------------------*/

.Content-section{
   
   margin: 5vh 5vw;
}
#card-list{
    display: flex;
    flex-direction: row;
    padding: 2vh 2vw;
    margin-top: 3vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card-body{
    display: flex;
    flex-direction: column;
   background-color: rgb(205, 200, 200);
    border-radius: 5px;
    justify-content: space-between;
    height:30vh;
    width:25vh;
   
    margin: 10px 3px;

    
}
.text{
    margin-left: 1.5vw;
    font-family: cursive;
    color: black;
}

.btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3vh;
    
    
}

.btn button{
    height: 3.5vh;
    
    border-style: none;
   
}

#favorite-btn{
    background-color: rgb(147, 36, 73);
    color:white;
    font-family: cursive;
}

#view-details-btn{
    background-color: rgb(44, 125, 245);
    color:white;
    font-family: cursive;
}