/*****************Navgiation bar****************/
#nav{
    height: 5vh;
   

}

#nav-list-container{
    display: flex;
    flex-direction: row;
  
    list-style: none;
}

.nav-lists{
   margin-left: 4vw;
   
}

.nav-lists a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-family: cursive;
}

.nav-list-title{
    margin-left: 5vw;
    
}

.nav-list-title a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: cursive;
    font-weight: bold;
}

/***************Search bar********************/
#search-bar-container{
    height: 4vh;
    width: 40vw;
   
    margin-top: 0.5vh;
    display: flex;
    flex-direction: row;
   
}

#search-bar-container input{
    width: 90%;
    height:100%;
     border-style: solid;
     
     border-width: .2px .2px .2px;
    
    
}
#search-bar-container input:placeholder-shown{
    font-size: 20px;
   
}

#search-bar-container a img{
    height: 4vh;
    margin-left: 1vw;
}